*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header{
    height: 10vh;
    width: 99%;
    margin: auto;
    display: flex;
}
.head1,.head2,.nav-links,.head3{
    display: flex;
}
.head1{
    flex: 1;
}
.head2{
    flex: 2;
    font-weight: 400;
}
.head3{
    flex: 1;
}

