*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: linear-gradient(to right top, #7f7fd5, #7f87d9, #7f8fdd, #8097e1, #829ee4, #7ba8e9, #75b2ed, #73bbef, #6cc8f0, #70d5ee, #7de0e9, #91eae4);
}
.header{
    height: 10vh;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
}
.head1,.head2,.nav-links,.head3{
    display: flex;
}
.head1{
    flex: 1;
}
.head1 a img{
    width: 8vh;
}
.head2{
    flex: 4;
    font-weight: 400;
}
.head3 a img{
    width: 8vh;
}
.nav-links{
    list-style: none;
    margin: auto;
    align-items: space-around;
}
.nav-link{
    padding: 5px 35px 5px 35px;
    font-size: 20px;
    color: #6a6a8d;
    text-decoration: none;
}
.head3{
    flex: 1;
    justify-content: flex-end;
}
.mid{
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
}
.left{
    flex: 1;
}
.left img{
    width: 80vh;
}
.right{
    flex: 1;
    color: rgba(71, 71, 96, 0.8);
}
.button{
    display: flex;
    height: 5vh;
    margin: 0vh 40vh 0vh 0vh;
    height: 8vh;
}
.alt{
    flex: 1;
    background-color: rgb(255, 202, 202);
    border: 0.3vh;
    border-style: solid;
    border-color: red;
    font-size:20px;
    font-weight: 600;
    color: rgba(100, 0, 10, 0.8);
}
.add{
    flex: 1;
    background-color: rgb(255, 202, 202);
    border: 0.3vh;
    border-style: solid;
    border-color: red;
    font-size:20px;
    font-weight: 600;
    margin-left: -0.2vh;
    color: rgba(100, 0, 10, 0.8);
}
.footer{
    height: 10vh;
    width: 100vh;
    display: flex;
    margin: auto;
    color: rgba(71, 71, 96, 0.8);
}
.copy{
    margin: auto;
}
.copy p{
    margin: auto;
}